body{
  background-size:100%;
 }
 .heading{
     font-size:23px;
     width:100%;
     margin: 0px;
     box-shadow: 5px 5px 5px purple;
 }
 b{
     color:red;
     font-size: 18px;
     font-family: 'Italianno', cursive;
 }
 .note{
     font-size: 15px;
     color:mediumvioletred;
 }
 .copy_right_footer{
    position: fixed;
    color:purple;
    bottom: 0;
    width:100%;
    background-color:plum;
    line-height:2.5;
    text-align: center;
 }
 canvas{
     border: 5px solid rebeccapurple;
     border-radius: 20px;
     box-shadow: 5px 5px 5px royalblue;
 }
 